<div class="container">
  <h3 class="text-center">{{name}}</h3>

  <div class="messaging">
    <div class="inbox_msg">
      <div class="text-center" *ngIf="isDeleteBtnDisplayed">
        <button class="msg_delete_btn" id="remove" type="button" (click)="deleteMessage()">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
      <div class="mesgs">
        <div class="msg_history">
          <li class="message" *ngFor="let message of getMsgs()">
            <div *ngIf="message.user.id !== currentUser.id; then incoming_msg; else outgoing_msg;">
            </div>
            <ng-template #incoming_msg>
              <div class="received_msg_block">
                <div class="received_msg">
                  <p (click)="showDelete(message)">{{message.text}}</p>
                  <span class="time_date">{{message.date}}</span>
                </div>
              </div>
            </ng-template>
            <ng-template #outgoing_msg>
              <div class="sent_msg_block">
                <div class="sent_msg">
                  <p (click)="showDelete(message)">{{message.text}}</p>
                  <span class="time_date">{{message.date}}</span>
                </div>
              </div>
            </ng-template>
          </li>
        </div>
        <div class="type_msg">
          <form [formGroup]="messageForm" class="input_msg_write" (ngSubmit)="onSubmit(messageForm.value)">
            <input type="text" class="write_msg" placeholder="Type a message" formControlName="message"/>
            <button class="msg_send_btn" type="submit">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
